.targeting {
  padding: 0 20px 20px;
  min-width: 1120px;
}

.menus {
  display: flex;
  align-items: center;
}

.menu {
  margin: 12px 0 !important;
  flex: 1;
}

.popup {
  padding: 0 !important;
  margin-top: 4px !important;
}

.warning-circle {
  font-size: 20px !important;
  color: #FFC300;
  padding: 0 10px;
}

.modal-header-text {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.modal-content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
  margin-left: 40px;
  width: 320px;
}


.message {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

.message-content {
  max-width: 800px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 10px;
}

.icon-warning-circle {
  color: #FFC300;
  vertical-align: middle;
}

.message-content-warn {
  background: #FFFAE0;
  color: #592D00;
}

.message-icon {
  margin-right: 8px;
  font-size: 20px;
  margin-left: 8px;
}

.message-content-text {
  font-size: 14px;
  margin-left: 8px;
}