.message {
  padding: 0 12px 0 8px !important;

  :global {
    .Toastify__toast-icon {
      margin-inline-end: 5px;
    }
  }
}

.icon-info-circle {
  color: #0A70F5;
  vertical-align: middle;
}

.icon-success-circle {
  color: #00B365;
  vertical-align: middle;
}

.icon-warning-circle {
  color: #FFC300;
  vertical-align: middle;
}

.icon-error-circle {
  color:  #F5483B;
  vertical-align: middle;
}
