.history {
  width: 260px;
  max-height: 470px;
  border-radius: 8px;
  // padding: 0 20px;
  // box-shadow: 0 10px 20px 0 rgba(18, 38, 63, 0.03);
}

.history-title {
  display: flex;
  justify-content: space-between;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #212529;
  display: flex;
  align-items: center;
  height: 52px;
}

.history-title-icon {
  font-size: 16px !important;
  cursor: pointer;
  color: #495057;
}

.modal-content {
  margin-top: 16px;

  :global {
    .CodeMirror-scroll {
      background: rgba(85, 110, 230, 0.04);
      font-size: 12px;
      color: rgb(120, 139, 227);
      margin-bottom: 0;
      margin-right: 0;
      padding-bottom: 0;
      overflow: auto !important;
      border-radius: 8px;
      height: 298px;
    }
  }
}