:global {
  .d2h-file-header {
    display: none;
  }

  .d2h-info {
    display: none;
  }

  .d2h-file-wrapper {
    border-top: 1px solid rgba(206, 212, 218, 0.6);
    border-bottom: 1px solid rgba(206, 212, 218, 0.6);
    border-radius: 0;
  }

  .d2h-del {
    background-color: #fff5f4;
  }

  .d2h-code-line del,
  .d2h-code-side-line del {
    background-color: #ffd4d0;
  }

  .d2h-ins {
    background-color: #effcf2;
  }

  .d2h-code-line ins,
  .d2h-code-side-line ins {
    background-color: #c2f6ce;
  }

  .d2h-file-side-diff {
    margin-bottom: -2px;
    overflow-x: auto;
  }

  .d2h-files-diff {
    height: 343px;
    overflow-y: auto;
    z-index: 1;
    position: relative;
  }
}
