.page {
  padding: 0 20px;
}

.intro {
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.01), 0 3px 6px 3px rgba(0,0,0,0.01), 0 2px 6px 0 rgba(0,0,0,0.03);
  border-radius: 0 0 12px 12px;
  padding: 12px 24px 0;
}

.intro-title {
  font-family: HelveticaNeue-Medium;
  font-size: 20px;
  color: #212529;
  line-height: 30px;
}

.intro-desc {
  font-family: HelveticaNeue-Medium;
  font-size: 14px;
  color: #212529;
  line-height: 30px;
  margin-top: 12px;
}

.steps {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.01), 0 3px 6px 3px rgba(0,0,0,0.01), 0 2px 6px 0 rgba(0,0,0,0.03);
  border-radius: 12px;
  margin-top: 16px;
  padding: 24px;
}

.step {
  display: flex;
  margin-bottom: 24px;
}

.step-right {
  margin-left: 12px;
  flex: 1;
}

.checked {
  color: #556EE6;
  width: 20px;
  height: 20px;
  border: 1px solid #556EE6;
  border-radius: 100%;
  text-align: center;
}

.circle {
  width: 20px;
  height: 20px;
  color: #74788D;
  background-color: #ffffff;
  border: 1px solid #74788D;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  top: 4px;
}

.circleCurrent {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #556EE6;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  top: 4px;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #74788D;
  position: relative;
  left: 10px;
  top: 6px;
}

.lineSelected {
  height: 100%;
  width: 1px;
  background-color: #556EE6;
  position: relative;
  left: 10px;
  top: 6px;
}

.step-title {
  font-family: HelveticaNeue-Medium;
  font-size: 14px;
  color: #212529;
  line-height: 28px;
}

.step-detail {
  margin-top: 12px;
}

.label-required {
  color: #FF5F57;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 4px;
  height: 16px;
  display: inline-block;
}

.angle-down {
  position: absolute;
  right: 10px;
  color: #74788D;
  top: 9px;
}

.icon-question {
  color: #74788D;
  vertical-align: middle;
  margin-left: 4px;
}

.popup {
  opacity: 0.8;
}

.success-circle {
  color: #00B365;
  font-size: 20px !important;
  margin-right: 5px;
  vertical-align: bottom;
}

.error-circle {
  color: #F5483B;
  font-size: 20px !important;
  margin-right: 5px;
  vertical-align: bottom;
}

.retry-connection {
  margin-top: 14px;
}

.retry-connection-btn {
  width: 175px !important;
}

.connect-retrying {
  display: flex;
  align-items: center;
}

.connect-retrying-text {
  flex: 1;
  margin-left: 5px;
}

.card {
  background: #FAFAFA;
  border-radius: 12px;
  display: flex;
  padding: 12px;
  align-items: center;
}

.card-left {
  flex: 1;
  display: flex;
}

.card-item {
  flex: 1;
}

.card-title {
  font-size: 13px;
  color: #74788D;
}

.card-value {
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #495057;
  margin-top: 6px;
}

.dropdown {
  height: 25px;
  display: inline-flex;
  align-items: center;
}

.dropdown-logo {
  width: 20px;
  margin-right: 5px;
}

.code {
  position: relative;
}

.copy {
  position: absolute;
  top: 12px;
  right: 12px;
}

.copyBtn {
  width: 48px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #556EE6;
  border-radius: 6px;
  color: #556EE6;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  display: inline-block;
}